@import '../general/global.scss';

.app-reviews-title {
    $font-size: 1.625rem;

    font-size: $font-size;
    line-height: 1.2;
    text-align: center;

    @media (min-width: $xs) {
        font-size: $font-size + 0.2rem;
    }
    @media (min-width: $sm) {
        font-size: $font-size + 0.6rem;
    }
    @media (min-width: $md) {
        font-size: $font-size + 1rem;
    }
    @media (min-width: $lg) {
        font-size: $font-size + 1.4rem;
    }
    @media (min-width: $xl) {
        font-size: $font-size + 1.8rem;
    }

    .title-color-effect {
        background: linear-gradient(120deg, var(--primary), var(--accent));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.app-reviews-sub {
    $font-size: 0.8rem;

    @extend .font-body;
    font-size: $font-size;
    text-align: center;
    padding-top: 0.5rem;

    @media (min-width: $xs) {
        font-size: $font-size + 0.1rem;
    }
    @media (min-width: $sm) {
        font-size: $font-size + 0.2rem;
    }
    @media (min-width: $md) {
        font-size: $font-size + 0.3rem;
    }
    @media (min-width: $lg) {
        font-size: $font-size + 0.4rem;
    }
    @media (min-width: $xl) {
        font-size: $font-size + 0.5rem;
    }
}

.app-reviews {
    position: relative;
    width: 100%;
    min-height: 100px;

    margin-top: 2rem;

    display: grid;
    justify-content: space-between;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
}
