.app-footer {
    padding: 0.3rem 0;
    border-top: 1px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
}
