@import './reset';

// Breakpoints
$xs: 460px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;

// Container
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media (min-width: $xs) {
    .container {
        max-width: $xs;
    }
}
@media (min-width: $sm) {
    .container {
        max-width: $sm;
    }
}
@media (min-width: $md) {
    .container {
        max-width: $md;
    }
}
@media (min-width: $lg) {
    .container {
        max-width: $lg;
    }
}
@media (min-width: $xl) {
    .container {
        max-width: $xl;
    }
}

// Misc
.font-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.font-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.text-for-empty {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text);
    text-align: center;
    margin-top: 2rem;
}

// Global styles
.section {
    margin-top: 2rem;
}
.section-upper {
    margin-top: 4rem;
}
.section-lower {
    margin-bottom: 2rem;
}
.title-color-effect {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.font-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
